:root{
  --mainColor : rgb(50, 109, 102);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');
body{
  margin: 0;
  background: rgb(210, 207, 216);
  font-family: 'Roboto', sans-serif;
}
header ul li{
  opacity: .6;
}
.hidden{display: none;}
iframe{border: none;}
a{
  color: black;
  text-decoration: none;
}
h3{
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.login{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background: white;
  width: fit-content;
  padding: 2rem;
  margin: auto;
  margin-top: 10%;

}
.button{
  background: var(--mainColor);
  color: white;
  padding: .5rem;
}
.login input{
  min-width: 240px;
  border: none;
  border: 1px solid rgb(179, 179, 179);
  padding: .5rem;
}
.login button{
  background: var(--mainColor);
  color: white;
  width: fit-content;
  margin: auto;
  padding: .5rem;
  cursor: pointer;
}
.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: var(--mainColor);
  color: white;
  padding: 0 1rem;
  
}
.main-nav span{
  font-size: 1.5rem;
  cursor: pointer;
}
.main-nav ul {
  display: flex;
  height: 100%;
  justify-content: right;
  column-gap: 1.5rem;
  padding: 0;
  margin: 0;
  align-items: center;
}
.main-nav ul li{
  list-style: none;
  color: white;
}
.main-nav ul li a{
  color: white;
}
.consultas{
  display: grid;
  grid-template-columns: 360px 1fr;
  text-align: left;
}
.consultas-faqs{
  padding: 0 1rem;
  background: white;
}
.consultas-faqs a{
  color: rgb(60, 60, 180);
}
.sidebar{
  background: #f7f7f7;
  height: calc(100vh - 60px);
  color: black;
}
.consulta-detalle table, th, td {
  border: 1px solid black;
}


.sidebar ul {
  width: fit-content;
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  padding: 0;
  margin: 0 auto;
  width: 85%;
  margin-top: 1rem;
}
.sidebar li{
  opacity: .8;
  margin-bottom:  1rem;
  margin-top: .5rem;
}
.sidebar li:hover{
  cursor: pointer;
  opacity: 1;
}
.sidebar li a{
  color: var(--mainColor);

}
.sidebar ol{
  list-style: none;
  text-align: left;
}
.sidebar ol li{
  opacity: 0.5;
}

.sidebar ol li a{
color: black;
}
.topbar{
  position: absolute;
  display: flex;
  column-gap: 1rem;
  height: 60px;
  top: 1rem;
  left: 1rem;
  align-items: flex-start;
  color: white;
}
.topbar a{
  display: flex;
  color: white;
  margin: 1rem 0;
}
.search{
  display: flex;
  flex-direction: column;
  z-index: 5;
  width: 240px;
}
.search input{
  border: none;
  border: 1px solid rgb(228, 228, 228);
  padding: .5rem 1rem;
  outline: none;
}
.search .result{
  color: white;
  text-align: left;
  background: hsl(220, 13%, 18%);
  padding: 0 1rem;
}
.selected-item{
  opacity:1 !important;
  font-weight: bold;
}
.pdfEmbed{
  width: 100%;
  height: calc(100vh - 65px);
}
.consulta-detalle{
  background: white;
  text-align: justify;
  height: calc(100vh - 60px);
  overflow-y: scroll;
}
.consulta_detalle span {
  margin: .5rem 0;
}
.consulta_codigo{
  display: flex;
  margin: .5rem auto;
  width: 90%;
  background: #282c34;
  color: white;
  font-size: 0.8rem;
  letter-spacing: 2px;
  line-height: 1.5rem;
  padding: 0 2rem;
}
.errors-filter{
  display: flex;
  column-gap: .5rem;
  margin-bottom: 1rem;
  align-items: center;
}
.select-errors-filter{
  padding: .5rem;
  border: none;
}
#customers {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  background: white;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #414141;
  color: white;
}
.bugs-container{
  padding:  1rem;
}
.bug{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1.5rem;
  width: 70vw;
  border: 1px solid rgb(211, 211, 211);
  text-align: left;
}
.bug *{
  margin: .2rem;
  padding: .5rem;
  background: white;
}
.bug-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bug-header span{
  width: fit-content;
  height: fit-content;
  border-radius: 1rem;
  overflow: hidden;
  background: green;
  color: white;
  font-size: .8rem;
  
}
.bugImgContainer{
  display: flex;
  flex-direction: column;
}
.addBug{
  background: white;
  width: 40vw;
  display: flex;
  margin: auto;
  margin-top: 1.5rem;

  flex-direction: column;
  row-gap: 1.5rem;
  padding: 1rem;
  text-align: left;
}
.addBug h4{
  display: flex;
  margin: auto;
}
.addBug input{
  padding: .5rem;
}
.addBug button{
  background: var(--mainColor);
  border: none;
  color: white;
  width: fit-content;
  padding:  .5rem;
  cursor: pointer;
}
.rich-text-editor{
  width: 70%;
  height: 50vh;
  margin: auto;
  margin-top: 1%;
}
.ck.ck-editor__main>.ck-editor__editable{
  min-height: 360px;
}
.rich-text-editor{
text-align: left;
}
.rich-text-editor .editor{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.rich-text-editor .doc-data {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  column-gap: 1rem;
}
.rich-text-editor .doc-data input{
  background: white;
  border: none;
  padding: .5rem;
}
.rich-text-editor .doc-data select{
  background: white;
  border: none;
  padding: .5rem;
}
.rich-text-editor_buttons{
  display: flex;
  column-gap: 1rem;
}
.rich-text-editor button{
  width: fit-content;
}
.badge{
  height: fit-content;
  width: fit-content;
  color: white;
  text-align: center;
  margin: 0;
}
.badge-green{
  background: green;
}
.badge-red{
  background: red;
}
.induccion-section{
  background: white;
  padding: 1rem;
}
.induccion-section .posts .posts-header{
  background: white;
  margin-bottom: 1rem;
  padding: .5rem;
  text-align: left;
}
.induccion-section .posts .posts-header .induccion-search input{
  display: flex;
  border: none;
  border: 1px solid rgb(194, 194, 194);
  padding: .5rem;
  margin: auto;
  width: 360px;
  padding: .6rem;
}
.induccion-section .card-grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;
}
.induccion-section .card-grid .card{
  background: white;
  width: 320px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: .5rem;
  transition: .2s;
  box-shadow: 0px 0px 4px 3px #92929233;

}
.induccion-section .card-grid .card:hover{
  transform: scale(1.01);
  cursor: pointer;
}
.induccion-section .card-grid .card:hover h3{
  font-weight: bold;
}
.induccion-section .card-grid .card h3{
  color: var(--mainColor);
 }
.induccion-section .card-grid .card span{
 margin-left: auto;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
